.contact {
    
    ul {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        li {
            list-style-type: none;
            font-size: 2em;
            padding: 20px 20px;
        }
    }
}