html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-family-secondary;
    font-weight: 100;
    font-size: 1.5em;
}
.container {
    padding: 0 200px;
}
@media screen and (max-width: 750px){
    .container {
        padding: 0 25px;
    }
}
@media screen and (max-width: 1200px){
    .container {
        padding: 0 100px;
    }
}

span {
    height: 2px;
    width: 100%;
    background-color: black;
    display: block;
}
#presentation, #prestation, #location, #contact, #decouvrir, #galerie {
    padding-top: 10vh;
}

