.introduction {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
        padding-top: 30px;
        width: 400px;
    }
    div {
        text-align: justify;
    }
    
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}

.spotify {
    article {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        div{
            width: 150px;
            padding: 10px;
        }
        img {
            width: 100%;
            box-shadow: 0px 1px 10px black;
            cursor: pointer;
            
        }
        img:hover {
            transition: 1s;
            transform: scale(1.5);
            box-shadow: 0px 1px 20px black;
        }
    }
}