.prestation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .card {
        width: 300px;
        height: 500px;
        border-radius: 10px;
        text-overflow: none;
        margin: 0 20px;
        margin-bottom: 20px;
        overflow: hidden;
        box-shadow: 0px 1px 10px black;
        .card-img {
            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
            
        }
        .card-title {
            padding: 0;
            margin: 0;
        }
        .card-body {
            padding: 0px 20px;
            margin: 0;
        }
        
    }
}
.btn {
    background-color: black;
    border-radius: 20px;
    color: white;
    padding: 20px;
    display: inline-block;
    font-size: 20px;
}