@import 'utilities/_variables.scss';
@import 'utilities/_mixins.scss';
@import 'utilities/_placeholders.scss';
@import 'utilities/_normalize.scss';

@import 'layout/_header.scss';
@import 'layout/_navbar.scss';
@import 'layout/_contact.scss';

@import 'components/_prestation.scss';
@import 'components/_presentation.scss';
@import 'components/_galerie.scss';
@import 'components/decouvrir.scss';

@import '_general.scss';