.spotify {
    article {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        div{
            width: 125px;
            padding: 10px;
        }
        img {
            width: 100%;
            box-shadow: 0px 1px 10px black;
            cursor: pointer;
            
        }
        img:hover {
            transition: 1s;
            transform: scale(1.5);
            box-shadow: 0px 1px 20px black;
        }
    }
}