.galerie {
  margin-bottom: 50px;
}

.each-slide > div {
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }