.prestation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .card {
        width: 300px;
        height: 500px;
        border-radius: 10px;
        text-overflow: none;
        margin: 0 10px;
        margin-bottom: 20px;
        overflow: hidden;
        box-shadow: 0px 0px 0px black;
        transition: .5s;
        border: solid 5px black;
        cursor: pointer;
        .card-img {
            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                transition: transform 1s;
            } 
            overflow: hidden;
        }
        .card-title {
            padding: 0;
            margin: 0;
        }
        .card-body {
            padding: 0px 20px;
            margin: 0;
        }
        
        &:hover {
            box-shadow: 0px 1px 20px black;
            img {
                transform: scale(1.5);
            }
        }
        
    }
}
.btn {
    background-color: rgb(54, 54, 54);
    border: solid 3px black;
    border-radius: 15px;
    color: white;
    padding: 15px 30px;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    transition: .5s;
    &:hover {
        background-color: rgb(0, 0, 0);
        
    }
}