.introduction {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
        padding-top: 30px;
        width: 400px;
    }
    div {
        text-align: justify;
    }
    
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
