
    .footer-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        div {
            width: 50%;
        }
    }
    ul {
        margin-right: 10px;
        padding: 0;
    }
    li {
        padding: 5px 0px;
        list-style-type: none;
        font-size: 1em;      
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }