header {
    background-color: white;

    section {
        height: 100vh;
    }
    .cls-1{fill: black;}
    img {
        width: 100%;
        height: 100%;
    }
    h3 {
        width: 40%;
        position: absolute;
        top: 35%;
        left: 70%;
        transform: translate(-50%, -50%);
        font-size: 5vh;
        animation-name: ckw0;
        animation-duration: 7s;
        transform-origin: 50% 50%;
        color: black;
    }
    svg {
        width: 30%;
        position: absolute;
        top: 40%;
        left: 30%;
        transform: translate(-50%, -50%);
    }

}


#path1{
    animation-name: ckw1;
    animation-duration: 5s;
    transform-origin: 50% 50%;
}
#path2{
    animation-name: ckw2;
    animation-duration: 5s;
    transform-origin: 50% 50%;
}

#path3{
    animation-name: ckw0;
    animation-duration: 5s;
    transform-origin: 50% 50%;
}
#path4{
    animation-name: ckw0;
    animation-duration: 5.5s;
    transform-origin: 50% 50%;
}
#path5{
    animation-name: ckw0;
    animation-duration: 6s;
    transform-origin: 50% 50%;
}
#path6{
    animation-name: ckw0;
    animation-duration: 6.5s;
    transform-origin: 50% 50%;
}

@keyframes ckw0 {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes ckw1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes ckw2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}